---
import BreadCrumb from '../../common/BreadCrumb.astro';
import Pagination from '../../common/Pagination.astro';

import InqueryForm from '../../InqueryForm.astro';
const breadcrumbLinks = [
  { label: 'Home', url: '/' },
  { label: 'Blog', url: '/blog' },
  { label: 'All articles', url: '/blog' },
];
let currentPage = 1;
const totalPages = 15;
---

<div class="mx-auto max-w-7xl py-4 px-6">
  <BreadCrumb links={breadcrumbLinks} />
  <div class="md:grid md:grid-cols-12 gap-16 justify-between">
    <div class="md:col-span-8">
      <div class="flex justify-between items-center">
        <h1 class="lg:text-3xl md:text-2xl text-xl font-extrabold text-[#393938] mb-2 ">
          
          All Articles
        </h1>
        <div class="flex items-center space-x-2">
          <span class="text-gray-600">Sort by:</span>
          <div class="relative">
            <select
              class="appearance-none bg-white border border-gray-300 text-gray-700 py-2 pl-3 pr-10 rounded leading-tight focus:outline-none focus:border-gray-500"
            >
              <option>Relevancy</option>
              <option>Newest</option>
              <option>Oldest</option>
              <option>Most Popular</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                ><path
                  d="M5.293 7.293l5 5a1 1 0 001.414 0l5-5a1 1 0 00-1.414-1.414L10 9.586 6.707 6.293a1 1 0 00-1.414 1.414z"
                ></path></svg
              >
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-4 mt-6">
        {
          Array(5)
            .fill(0)
            .map((article) => {
              return (
                <div class=" w-full bg-white rounded-lg  border overflow-hidden flex ">
                  <div class="p-6 flex flex-1 flex-col justify-between relative">
                    <button class="absolute top-4 right-4 bg-[#121212]/50 p-2 rounded-full cursor-pointer z-[100] text-white">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        class="lucide lucide-bookmark"
                      >
                        <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
                      </svg>
                    </button>
                    <div>
                      <span class="text-orange-500 uppercase text-xs font-semibold">
                        Experience
                      </span>
                      <h2 class="mt-2  text-sm md:text-lg lg:text-xl font-bold text-gray-900 max-w-[400px]">
                        Nice in 5 Shops: handmade, artisanal and vintage goods
                      </h2>
                    </div>
                    <div class="mt-4 flex items-center text-gray-600 text-sm">
                      <span>May 30, 2024</span>
                      <span class="mx-1">•</span>
                      <span>5 min read</span>
                    </div>
                  </div>
                  <div class="relative ">
                    <img
                      class="h-full w-32 md:w-48 object-cover"
                      src="/assets/latest-main.png"
                      alt="Experience"
                    />
                    <div class="absolute top-2 right-2 bg-gray-100 rounded-full p-1">
                      <svg
                        class="h-5 w-5 text-gray-600"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path d="M5.5 0a5.5 5.5 0 015.5 5.5 5.5 5.5 0 01-11 0A5.5 5.5 0 015.5 0zm0 1A4.5 4.5 0 001 5.5c0 .616.123 1.204.346 1.738a1 1 0 01.136.84l-.144.42c-.225.656.182 1.335.843 1.56l.42.144a1 1 0 01.84-.136 4.502 4.502 0 002.616 0 1 1 0 01.84.136l.42-.144a1 1 0 00.843-1.56l-.144-.42a1 1 0 01.136-.84A4.502 4.502 0 0010 5.5 4.5 4.5 0 005.5 1zm0 1a3.5 3.5 0 013.5 3.5c0 .455-.09.89-.258 1.29a1 1 0 01-.582.582A3.502 3.502 0 015.5 6c-.455 0-.89.09-1.29.258a1 1 0 01-.582-.582A3.502 3.502 0 011 5.5 3.5 3.5 0 015.5 2zM5 4a.5.5 0 010 1H4a.5.5 0 010-1h1z" />
                      </svg>
                    </div>
                  </div>
                </div>
              );
            })
        }
      </div>
      <div class="my-10">
        <Pagination currentPage={currentPage} totalPages={totalPages} />
      </div>
    </div>
    <div class="md:col-span-4 hidden md:block">
      <div
        class="bg-[#FEFFF3] relative w-full p-6 rounded-3xl border border-[#B5B5A7]"
      >
        <div
          class="absolute -top-8 left-1/2 transform -translate-x-1/2 hidden md:block"
        >
          <img class="w-10 object-contain" src="/assets/bird2.png" alt="" />
        </div>
        <h3 class="text-sm mb-4">
          Please fill out the form below and we’ll get back to you as soon as
          possible.
        </h3>
        <InqueryForm />
      </div>
    </div>
  </div>
</div>
