
<div
  id="scroll-to-top"
  class="flex items-center justify-center bg-white rounded-full fixed bottom-10 right-14 lg:bottom-36 lg:right-36 cursor-pointer w-16 h-16"
>
  <svg
    width="14"
    height="25"
    viewBox="0 0 14 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7 24L7 1M7 1L0.999999 7.13333M7 1L13 7.13333"
      stroke="#FF852E"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const handleScrollToTop = () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    };
    const scrollToTop = document.getElementById('scroll-to-top');
    if (scrollToTop) {
      scrollToTop.addEventListener('click', handleScrollToTop);
    }
  });
</script>