---

---

<section class="relative bg-[#FF852E] h-[400px]">
  <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
    <div class="px-6 lg:col-span-6 lg:px-0 sm:pt-20 sm:pb-24 pt-10 z-[1]">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Your Global Travel Companion
        </h1>
        <p
          class="mt-6 text-lg max-w-[400px] leading-tight font-semibold text-[#121217]"
        >
          Get the best-in-class travel insurance plans and wellness benefits for
          your team
        </p>
        <button
          class="text-[#2E3749] mt-6 bg-white rounded-3xl px-10 py-2 flex justify-center items-center font-semibold gap-2 hover:gap-4"
        >
          Get Quote
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right"
            ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
          >
        </button>
      </div>
    </div>

    <img
      class="aspect-[3/2] sm:w-3/4 object-contain sm:absolute z-[0] sm:h-full sm:top-[100px] sm:right-0"
      src="/assets/hero.png"
      alt=""
    />
  </div>
</section>
<div class="bg-white">
  <div
    class="mx-auto max-w-7xl px-6 pt-40 sm:pt-32 pb-10 lg:flex lg:items-start lg:justify-between"
  >
    <h6 class="text-semibold text-lg text-[#5B6073]">Where to Next</h6>
    <h2
      class="sm:text-3xl text-xl font-semibold tracking-tight text-[#121217] sm:max-w-[500px]"
    >
      Find Your Perfect Destination The Ultimate Guide To Your Dream Destination
    </h2>
  </div>
</div>
