<div
  class="bg-[#FBF5EC] md:h-[480px] h-[430px] md:my-16 my-10 relative overflow-hidden z-[0]"
>
  <div class="h-3/4 max-w-7xl mx-auto px-6 sm:px-0 md:py-20 py-10">
    <div class="flex gap-x-4 items-start">
      <div class="md:flex-1"></div>
      <div class="flex flex-1 flex-col justify-between md:mt-10 mt-4">
        <h3 class="lg:text-4xl md:text-3xl text-2xl font-bold max-w-[260px]">
          We're reinventing <span class="text-[#FF852E]">
            travel insurance
          </span>so you can save
        </h3>
        <button
          class="bg-[#010231] flex text-white w-fit rounded-3xl px-4 py-2 mt-4 justify-center items-center gap-2 hover:gap-4"
        >
          Get Quote
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right"
            ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
          >
        </button>
      </div>
    </div>
  </div>

  <img
    class="object-contain absolute lg:block bottom-0 z-[-1] md:w-3/5"
    src="/assets/birdonroof.png"
    alt="Main article image"
  />
</div>
