---
// Breadcrumb.astro
export interface BreadcrumbLink {
  label: string;
  url: string;
}

export interface BreadcrumbProps {
  links: BreadcrumbLink[];
}

const { links } = Astro.props as BreadcrumbProps;
---

<nav aria-label="breadcrumb" class="md:my-6 my-4">
  <ul class="flex">
    {
      links.map((link, index) => (
        <li class="flex items-center">
          {index < links.length - 1 ? (
            <>
              <a href={link.url} class="text-[#2E3749] text-lg font-medium hover:text-orange-primary">
                {link.label}
              </a>
              <span class="text-[#2E3749] mx-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-right"
                >
                  <path d="m9 18 6-6-6-6" />
                </svg>
              </span>
            </>
          ) : (
            <span class="text-orange-primary font-medium text-lg">{link.label}</span>
          )}
        </li>
      ))
    }
  </ul>
</nav>
