---
---
<div class="bg-orange-accent py-10 px-5">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
      <div class="md:col-span-3">
        <div>
          <p class="text-darkblue text-6xl font-bold">We're reinventing 
          <span class="text-orange-primary font-bold">travel insurance</span> so you can save </p>
        </div>
          <div class="mt-5">
            <button
          class="bg-[#010231] h-12 w-40 text-white rounded-3xl text-sm px-3 py-2 flex justify-center items-center gap-2"
        >
          Get a quote
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right"
            ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
          >
        </button>
          </div>
      </div>
      <div class="md:col-span-2">
        <img src="/destination-umbrella.png" class="w-auto h-full max-h-[300px]" alt="" srcset="">
      </div>
    </div>
  </div>
</div>